header{
   
    padding: 2rem;
}

.header-logo{
    display: flex;
    place-content: center;
    cursor: pointer;
  
}
.logo{
    font-size: 32px;
    color: #fff;
    font-family: "N27";
    color: #AA96DA;
    
}